@import "tailwindcss";

@theme {
  --color-BEIGE: #f5f5f5;
  --color-BLACK: #171717;
  --color-WHITE: #ebebeb;
  --color-RED: #ee2a35;
  --color-GREEN: #009736;

  --padding-7_5: 7.5px;
  --padding-15: 15px;
  --padding-30: 30px;
  --padding-60: 60px;
  --padding-90: 90px;
  --padding-120: 120px;

  --margin-7_5: 7.5px;
  --margin-15: 15px;
  --margin-30: 30px;
  --margin-60: 60px;
  --margin-90: 90px;
  --margin-120: 120px;

  --inset-7_5: 7.5px;
  --inset-15: 15px;
  --inset-30: 30px;
  --inset-60: 60px;
  --inset-90: 90px;
  --inset-120: 120px;

  --radius-7_5: 7.5px;
  --radius-15: 15px;
  --radius-30: 30px;
  --radius-60: 60px;
  --radius-90: 90px;
  --radius-120: 120px;
}

@font-face {
  font-family: "Social";
  font-style: normal;
  font-weight: 100 900;
  src: url("/ABCSocialVariableEdu-Regular.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  @apply w-full h-full overflow-x-hidden;
}

* {
  font-family: Social, Helvetica, sans-serif;
}

.scroller {
  height: calc(100vh + 50px);
  width: 20px;
}

.main {
  @apply bg-BLACK;
  @apply overflow-hidden;
  @apply max-w-screen max-h-screen;
  @apply fixed top-0 left-0;
}

.timeline-section {
  @apply bg-BEIGE;
  @apply absolute left-30 top-30;
  @apply rounded-90 p-60;
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  transform: translateY(calc(100vh - 90px));
}

.tick-data {
  &.adultsKilled {
    @apply fill-RED/10 stroke-RED stroke-[4px];
  }

  &.minorsKilled {
    @apply fill-GREEN/10 stroke-GREEN stroke-[4px];
  }
}
