@import "tailwindcss";

@theme {
  --color-BEIGE: #f5f5f5;
  --color-BLACK: #171717;
  --color-WHITE: #ebebeb;
  --color-RED: #ee2a35;
  --color-GREEN: #009736;
  --color-BROWN: #c4c0b6;

  --padding-7_5: 7.5px;
  --padding-15: 15px;
  --padding-30: 30px;
  --padding-60: 60px;
  --padding-90: 90px;
  --padding-120: 120px;

  --margin-7_5: 7.5px;
  --margin-15: 15px;
  --margin-30: 30px;
  --margin-60: 60px;
  --margin-90: 90px;
  --margin-120: 120px;

  --inset-7_5: 7.5px;
  --inset-15: 15px;
  --inset-30: 30px;
  --inset-60: 60px;
  --inset-90: 90px;
  --inset-120: 120px;

  --radius-7_5: 7.5px;
  --radius-15: 15px;
  --radius-30: 30px;
  --radius-60: 60px;
  --radius-90: 90px;
  --radius-120: 120px;
}

@font-face {
  font-family: "Social";
  font-style: normal;
  font-weight: 100 700;
  src: url("/ABCSocialVariableEdu-Regular.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  @apply w-full h-full overflow-x-hidden;
}

* {
  font-family: Social, Helvetica, sans-serif;
}

.scroller {
  height: calc(100dvh + 50px);
  width: 20px;
}

.main {
  @apply bg-BLACK;
  @apply overflow-hidden;
  @apply max-w-dvw max-h-dvh;
  @apply fixed top-0 left-0;
}

.timeline-section {
  @apply bg-BEIGE;
  @apply absolute top-[10px] left-[10px] lg:left-30 lg:top-30 z-50;
  @apply rounded-30 lg:rounded-90 p-15 lg:p-60;

  width: calc(100dvw - 20px);
  height: calc(100dvh - 20px);
  transform: translateY(calc(100dvh - 100px - 10px));

  @media (width >= 64rem) {
    width: calc(100dvw - 60px);
    height: calc(100dvh - 60px);
    transform: translateY(calc(100dvh - 60px - 30px));
  }

  .timeline-cta {
    @apply absolute top-0 right-0;
    @apply w-full h-[110px] lg:h-[60px];
    @apply flex flex-row justify-center items-center;
    @apply px-30 lg:px-90;
    @apply text-xl lg:text-2xl font-bold text-BROWN;
  }
}

.eye-date-picker {
  @apply flex flex-row items-center gap-2;

  @apply text-2xl lg:text-6xl font-bold text-WHITE;

  & select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  & input,
  & select {
    @apply inline-block;
    @apply w-min;
    @apply border-2 border-transparent;
    @apply cursor-pointer;

    &:hover,
    &:focus {
      @apply underline;
    }
  }

  option {
    @apply text-xl font-normal text-RED;
  }

  .input-day {
    @apply w-14;
  }

  .input-year {
    @apply w-24;
  }
}

.datapoint-svg,
.period-svg {
  & .short {
    @apply opacity-0;
  }

  @apply stroke-[4px] stroke-BLACK fill-BLACK/10;

  &.adultsKilled {
    @apply fill-orange-700/10 stroke-orange-700;
  }

  &.minorsKilled {
    @apply fill-green-700/10 stroke-green-700;
  }

  &.adultsImprisoned {
    @apply fill-red-700/10 stroke-red-700;
  }

  &.minorsImprisoned {
    @apply fill-blue-700/10 stroke-blue-700;
  }

  &.adultsInjured {
    @apply fill-pink-700/10 stroke-pink-700;
  }

  &.minorsInjured {
    @apply fill-purple-700/10 stroke-purple-700;
  }

  &.illegalSettlers {
    @apply fill-indigo-700/10 stroke-indigo-700;
  }

  &.buildingsDemolished {
    @apply fill-lime-700/10 stroke-lime-700;
  }

  &.palestiniansDisplaced {
    @apply fill-teal-700/10 stroke-teal-700;
  }

  &.percentageOfPalestinianLandStolen {
    @apply fill-cyan-700/10 stroke-cyan-700;
  }
}

#data-icon-bounds {
  @apply flex flex-col lg:flex-row gap-2 lg:gap-8 justify-start;

  .separator {
    @apply h-full w-[4px] bg-BROWN rounded-full;
  }

  .separator-vertical {
    @apply h-full w-[4px] bg-BROWN rounded-full;
  }

  .data-icon-row {
    @apply lg:h-1/2;
    @apply flex flex-row flex-wrap gap-2 lg:gap-4 items-center;
  }

  .inactive,
  .active {
    @apply lg:h-full lg:w-1/2;
    @apply flex flex-col lg:flex-row gap-2 lg:gap-4 items-start;
  }

  .active {
    @apply flex-row;
  }

  .active-row-placeholder {
    @apply bg-WHITE text-BROWN;
    @apply flex justify-center items-center;

    @apply transition-colors duration-300 ease-out;

    &.closer {
      @apply bg-BROWN text-WHITE;
    }
  }

  .data-button {
    @apply w-[40px] h-[40px] lg:w-[50px] lg:h-[50px] rounded-7_5;
    @apply text-BLACK font-bold;
  }

  .data-icon {
    @apply border-4;

    &.adultsKilled {
      @apply bg-orange-700/10 border-orange-700;
    }

    &.minorsKilled {
      @apply bg-green-700/10 border-green-700;
    }

    &.adultsImprisoned {
      @apply bg-red-700/10 border-red-700;
    }

    &.minorsImprisoned {
      @apply bg-blue-700/10 border-blue-700;
    }

    &.adultsInjured {
      @apply bg-pink-700/10 border-pink-700;
    }

    &.minorsInjured {
      @apply bg-purple-700/10 border-purple-700;
    }

    &.illegalSettlers {
      @apply bg-indigo-700/10 border-indigo-700;
    }

    &.buildingsDemolished {
      @apply bg-lime-700/10 border-lime-700;
    }

    &.palestiniansDisplaced {
      @apply bg-teal-700/10 border-teal-700;
    }

    &.percentageOfPalestinianLandStolen {
      @apply bg-cyan-700/10 border-cyan-700;
    }

    &.is-active,
    &:hover {
      &.adultsKilled {
        @apply bg-orange-700 border-orange-700;
      }

      &.minorsKilled {
        @apply bg-green-700 border-green-700;
      }

      &.adultsImprisoned {
        @apply bg-red-700 border-red-700;
      }

      &.minorsImprisoned {
        @apply bg-blue-700 border-blue-700;
      }

      &.adultsInjured {
        @apply bg-pink-700 border-pink-700;
      }

      &.minorsInjured {
        @apply bg-purple-700 border-purple-700;
      }

      &.illegalSettlers {
        @apply bg-indigo-700 border-indigo-700;
      }

      &.buildingsDemolished {
        @apply bg-lime-700 border-lime-700;
      }

      &.palestiniansDisplaced {
        @apply bg-teal-700 border-teal-700;
      }

      &.percentageOfPalestinianLandStolen {
        @apply bg-cyan-700 border-cyan-700;
      }
    }
  }
}

#mouseElement {
  @apply fixed -bottom-[10px] -left-[10px] -right-[10px] lg:-left-30 lg:-top-30;
  @apply p-0 lg:p-10;
  @apply pointer-events-none;
  @apply z-50;

  @media (width >= 64rem) {
    bottom: unset;
    right: unset;
  }

  &.selected {
    @apply pointer-events-auto;
  }

  #mouseElementContent {
    @apply bg-BLACK text-WHITE;
    @apply rounded-2xl;
    @apply flex flex-col items-center justify-center;
    @apply overflow-hidden;
    @apply scale-0;
    transform-origin: bottom center;

    @media (width >= 64rem) {
      transform-origin: top center;
    }
  }

  #mouseElementContentVisibility {
    @apply px-8 py-4;
    @apply overflow-hidden;
  }

  .event {
    @apply w-full lg:w-[500px];
    .title {
      @apply text-center text-2xl font-bold;
    }

    .date {
      @apply text-center text-lg italic font-light;
    }

    .event-full {
      @apply hidden mt-8;
    }

    .read-more {
      @apply bg-WHITE text-BLACK;
      @apply px-4 py-2 rounded-full;
      @apply block mt-4 w-fit mx-auto;
    }

    .sources {
      @apply mt-8;
      li {
        @apply text-sm text-BROWN;
      }
    }
  }

  .datapoint {
    @apply max-w-[300px];
    .number {
      @apply text-2xl font-bold text-center;
    }

    .sources {
      li {
        @apply text-sm text-BROWN;
      }
    }

    .note {
      @apply mt-4 italic;
    }
  }
}

.event-svg {
  @apply cursor-pointer;

  .event-rect {
    @apply fill-RED;
    @apply stroke-4 stroke-BLACK;
  }
}

.rotating-value-wrapper {
  @apply fixed z-50 opacity-0;
  @apply w-[30vh] h-[30vh] lg:w-[20vw] lg:h-[20vw];
  @apply top-1/2 left-1/2;

  transform: translate(-50%, -50%);

  &.gazaKilled,
  &.gazaInjured {
    .rotating-value {
      @apply absolute;
      @apply font-bold text-WHITE;
      @apply bg-GREEN;
    }
  }

  &.westBankKilled,
  &.westBankInjured {
    .rotating-value {
      @apply absolute;
      @apply font-bold text-WHITE;
      @apply bg-RED;
    }
  }

  .rotating-value {
    @apply absolute;
    @apply -translate-x-1/2;
    @apply text-xs lg:text-base font-bold text-WHITE;
    @apply px-2 lg:px-4 py-0.5 rounded-lg;
    @apply max-w-[100px] lg:max-w-screen text-center;
  }
}
